/* --- ESTILOS DO JOGO --- */
.game-container {
    background-color: var(--card-bg);
    color: var(--card-text);
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(128, 63, 63, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.game-title {
    color: #220e91;
    margin-bottom: 20px;
    font-size: 2rem;
}

.question {
background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    margin: 20px auto;
    max-width: 600px; /* Limita a largura para não ficar esticado */
}
.question-box h2 {
    color: #00d4ff; /* Mantém o azul ciano do seu tema */
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
/* O texto da pergunta em si */
.question-text {
    color: #2c3e50; /* Um azul bem escuro, quase preto */
    font-size: 1.8rem;
    font-weight: 700; /* Negrito para destacar */
    line-height: 1.4;
    text-transform: none; /* Garante que não force tudo maiúsculo se não quiser */
}

.btn-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}